/* Buttons */

.btn,
[type="submit"],
.subscribe-btn [role="button"],
.subscribe-btn button,
.searchbox a {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: calc(8px - var(--border-width)) calc(18px - var(--border-width));
    border: var(--border-width) solid currentColor;
    background-color: transparent;
    border-radius: var(--border-radius-button);
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: normal;
}

.btn:not(.no-hover),
[type="submit"]:not(.no-hover),
.subscribe-btn [role="button"]:not(.no-hover),
.subscribe-btn button:not(.no-hover),
.searchbox a:not(.no-hover) {
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn,
    [type="submit"],
    .subscribe-btn [role="button"],
    .subscribe-btn button [role="button"],
    .searchbox a {
        padding: calc(15px - var(--border-width)) calc(30px - var(--border-width));
    }
}

.btn *,
[type="submit"] *,
.subscribe-btn [role="button"] *,
.subscribe-btn button *,
.searchbox a * {
    display: inline-block;
}

.btn *+*,
[type="submit"] *+*,
.subscribe-btn [role="button"] *+*,
.subscribe-btn button *+*,
.searchbox a *+* {
    margin-left: 8px;
}

.btn--gray {
    color: var(--white-color);
    background-color: var(--secondary-text-color);
    border-color: var(--secondary-text-color);
}

.btn--gray:not(.no-hover):hover {
    color: var(--white-color);
    background-color: var(--secondary-text-color-hover);
    border-color: var(--secondary-text-color-hover);
}

.btn--gray:not(.no-hover):active,
.btn--gray:not(.no-hover).is-active,
.btn--gray:not(.no-hover)[aria-expanded="true"] {
    color: var(--white-color);
    background-color: var(--secondary-text-color-active);
    border-color: var(--secondary-text-color-active);
}

.btn--light,
.searchbox a {
    color: var(--primary-text-color);
    background-color: #F3F3F3;
    border-color: #F3F3F3;
}

.btn--light:not(.no-hover):hover,
.searchbox a:not(.no-hover):hover {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color-hover);
    border-color: var(--secondary-bg-color-hover);
}

.btn--light:not(.no-hover):active,
.btn--light:not(.no-hover).is-active,
.btn--light:not(.no-hover)[aria-expanded="true"],
.searchbox a:not(.no-hover):active,
.searchbox a:not(.no-hover).is-active,
.searchbox a:not(.no-hover)[aria-expanded="true"] {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color-active);
    border-color: var(--secondary-bg-color-active);
}

.btn--primary,
[type="submit"],
.subscribe-btn [role="button"] {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn--primary:not(.no-hover):hover,
[type="submit"]:not(.no-hover):hover,
.subscribe-btn [role="button"]:not(.no-hover):hover {
    color: var(--white-color);
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn--primary:not(.no-hover):active,
.btn--primary:not(.no-hover).is-active,
.btn--primary:not(.no-hover)[aria-expanded="true"],
[type="submit"]:not(.no-hover):active,
[type="submit"]:not(.no-hover).is-active,
[type="submit"]:not(.no-hover)[aria-expanded="true"],
.subscribe-btn [role="button"]:not(.no-hover):active,
.subscribe-btn [role="button"]:not(.no-hover).is-active,
.subscribe-btn [role="button"]:not(.no-hover)[aria-expanded="true"] {
    color: var(--white-color);
    background-color: var(--primary-color-active);
    border-color: var(--primary-color-active);
}

.btn--secondary {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn--secondary:not(.no-hover):hover {
    color: var(--white-color);
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}

.btn--secondary:not(.no-hover):active,
.btn--secondary:not(.no-hover).is-active,
.btn--secondary:not(.no-hover)[aria-expanded="true"] {
    color: var(--white-color);
    background-color: var(--secondary-color-active);
    border-color: var(--secondary-color-active);
}

.btn--color-primary {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
}

.btn--color-primary:not(.no-hover):hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn--color-primary:not(.no-hover):active,
.btn--color-primary:not(.no-hover).is-active,
.btn--color-primary:not(.no-hover)[aria-expanded="true"] {
    color: var(--white-color);
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn--color-secondary {
    color: var(--secondary-color);
    background-color: transparent;
    border-color: var(--secondary-color);
}

.btn--color-secondary:not(.no-hover):hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn--color-secondary:not(.no-hover):active,
.btn--color-secondary:not(.no-hover).is-active,
.btn--color-secondary:not(.no-hover)[aria-expanded="true"] {
    color: var(--white-color);
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}

.btn--md {
    padding: calc(8px - var(--border-width)) calc(24px - var(--border-width));
    font-size: var(--text-font-size-small);
}

.btn--sm,
.searchbox a {
    padding: calc(6px - var(--border-width)) calc(16px - var(--border-width));
    font-size: var(--text-font-size-small);
    line-height: 1em;
    font-weight: normal;
}

.btn--xs {
    padding: calc(4px - var(--border-width)) calc(6px - var(--border-width));
    font-size: var(--text-font-size-small);
    line-height: 1em;
    font-weight: normal;
}

@media (min-width: 576px) and (max-width: 767px) {
    .btn--sm-xs {
        padding: calc(6px - var(--border-width)) calc(16px - var(--border-width));
        font-size: var(--text-font-size-small);
        line-height: 1em;
        font-weight: normal;
    }
}

@media (min-width: 768px) {
    .btn--circle {
        padding: calc(12px - var(--border-width));
    }
}

.btn--circle {
    box-sizing: content-box;
    width: 1.5em;
    height: 1.5em;
    padding: 7px;
}

.btn--circle.btn--md {
    padding: calc(8px - var(--border-width));
}

.btn--circle.btn--sm {
    padding: calc(8px - var(--border-width));
    width: 1em;
    height: 1em;
}

.btn--circle.btn--xs {
    padding: calc(4px - var(--border-width));
    width: 1em;
    height: 1em;
}

.btn--circle>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn--full-width {
    width: 100%;
}

@media (max-width: 575px) {
    .btn--full-width-xs {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .btn--full-width-sm-down {
        width: 100%;
    }
}

.btn-group {
    display: flex;
}

@media (max-width: 575px) {
    .btn-group {
        width: 100%;
    }
    .btn-group .btn {
        flex: 1 0 10px;
    }
    .btn-group--large .btn {
        word-break: break-word;
        padding-right: 4px;
        padding-left: 4px;
    }
}

.btn-group>*+* {
    margin-left: var(--border-width);
}

.btn-group [class*=btn--color]+[class*=btn--color] {
    margin-left: var(--minus-border-width);
}

.btn-group .btn {
    border-radius: 0;
    position: relative;
}

.btn-group .btn:hover,
.btn-group .btn:active,
.btn-group .btn.is-active {
    z-index: 2;
}

.btn-group>*:not(.btn):first-child .btn,
.btn-group>.btn:first-child {
    border-top-left-radius: var(--border-radius-button);
    border-bottom-left-radius: var(--border-radius-button);
}

.btn-group>*:not(.btn):last-child .btn,
.btn-group>.btn:last-child {
    border-top-right-radius: var(--border-radius-button);
    border-bottom-right-radius: var(--border-radius-button);
}

/* Forms */

.form {
    text-align: left;
    margin-top: 75px;
}

.form footer {
    text-align: center;
}

fieldset {
    min-width: 0;
    padding: 12px 24px;
    margin: 0;
    border: 0;
    border-radius: var(--border-radius-base);
    background-color: var(--secondary-bg-color);
}

legend {
    display: inline-block;
    padding: 12px 24px;
    margin-left: -12px;
    font-size: var(--heading-4-font-size);
    font-weight: bold;
    line-height: 1.4;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow);
}

label[for] {
    display: block;
    max-width: 100%;
    margin: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 28px;
}

select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: var(--secondary-text-color);
}

select::-moz-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder {
    color: var(--secondary-text-color);
}

select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: var(--secondary-text-color);
}

select::placeholder,
textarea::placeholder,
input::placeholder {
    color: var(--secondary-text-color);
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.nesty-input,
.hc-multiselect-toggle,
ul[data-hc-pills-container] {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    min-height: 76px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    background-color: var(--primary-bg-color);
    border: var(--border-width) solid var(--primary-text-color);
    border-radius: 50px;
    transition: border-color var(--duration) var(--timing-function);
    color: var(--primary-text-color);
}

@media (max-width: 991px) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .nesty-input,
    .hc-multiselect-toggle,
    ul[data-hc-pills-container] {
        min-height: 64px;
        line-height: 24px;
    }
}

textarea {
    border-radius: 24px;
}

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.nesty-input:hover,
.hc-multiselect-toggle:hover,
ul[data-hc-pills-container]:hover,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.nesty-input:focus,
.hc-multiselect-toggle:focus,
ul[data-hc-pills-container]:focus {
    border-color: var(--primary-color);
}

select:active,
select.is-active,
textarea:active,
textarea.is-active,
input[type="text"]:active,
input[type="text"].is-active,
input[type="password"]:active,
input[type="password"].is-active,
input[type="datetime"]:active,
input[type="datetime"].is-active,
input[type="datetime-local"]:active,
input[type="datetime-local"].is-active,
input[type="date"]:active,
input[type="date"].is-active,
input[type="month"]:active,
input[type="month"].is-active,
input[type="time"]:active,
input[type="time"].is-active,
input[type="week"]:active,
input[type="week"].is-active,
input[type="number"]:active,
input[type="number"].is-active,
input[type="email"]:active,
input[type="email"].is-active,
input[type="url"]:active,
input[type="url"].is-active,
input[type="search"]:active,
input[type="search"].is-active,
input[type="tel"]:active,
input[type="tel"].is-active,
input[type="color"]:active,
input[type="color"].is-active,
.nesty-input:active,
.nesty-input.is-active,
.hc-multiselect-toggle:active,
.hc-multiselect-toggle.is-active,
ul[data-hc-pills-container]:active,
ul[data-hc-pills-container].is-active {
    border-color: var(--primary-color-hover);
}

.is-error select,
.is-error textarea,
.is-error input[type="text"],
.is-error input[type="password"],
.is-error input[type="datetime"],
.is-error input[type="datetime-local"],
.is-error input[type="date"],
.is-error input[type="month"],
.is-error input[type="time"],
.is-error input[type="week"],
.is-error input[type="number"],
.is-error input[type="email"],
.is-error input[type="url"],
.is-error input[type="search"],
.is-error input[type="tel"],
.is-error input[type="color"],
.is-error .nesty-input,
.is-error .hc-multiselect-toggle,
.is-error ul[data-hc-pills-container] {
    border-color: var(--danger-color);
}

ul[data-hc-pills-container] li {
    margin: 0;
}

ul[data-hc-pills-container] input {
    min-height: auto;
    height: auto;
    padding: 0;
}

ul[data-hc-pills-container] li[data-hc-pill=true] {
    padding: 2px 12px;
    margin: 2px 2px 0 0;
    background-color: var(--secondary-bg-color);
    border: none;
}

ul[data-hc-pills-container] li[data-hc-pill=true]>span:not([aria-label=close]) {
    font-size: var(--text-font-size);
    margin-left: 0;
}

textarea {
    max-width: 100%;
    height: 9em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: var(--primary-bg-color) no-repeat center;
    border: var(--border-width) solid var(--border-color);
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    border-color: var(--primary-color);
}

input[type="checkbox"]:active,
input[type="checkbox"].is-active,
input[type="radio"]:active,
input[type="radio"].is-active {
    border-color: var(--primary-color-hover);
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

input[type="checkbox"]:checked:hover,
input[type="radio"]:checked:hover {
    border-color: var(--primary-color-hover);
}

input[type="checkbox"]:checked:active,
input[type="checkbox"]:checked.is-active,
input[type="radio"]:checked:active,
input[type="radio"]:checked.is-active {
    border-color: var(--primary-color-active);
}

input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled:hover,
input[type="checkbox"]:disabled:active,
input[type="radio"]:disabled,
input[type="radio"]:disabled:hover,
input[type="radio"]:disabled:active {
    border-color: var(--border-color);
    background-color: var(--secondary-bg-color);
}

input[type="checkbox"]:disabled:checked,
input[type="radio"]:disabled:checked {
    border-color: var(--border-color);
    background-color: var(--border-color);
}

input[type="checkbox"] {
    border-radius: calc(var(--border-radius-base) / 2);
}

input[type="checkbox"]:checked {
    background-image: var(--assets-check-svg);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-image: var(--assets-circle-svg);
}

.form-field {
    display: block;
    position: relative;
    margin-bottom: 24px;
}

@media (max-width: 991px) {
    .form-field {
        margin-bottom: 10px;
    }
}

.form-field[hidden] {
    display: none !important;
}

.form-field .notification-error,
.form-field p {
    margin-top: 4px;
    font-size: var(--text-font-size-small);
    padding: 0 12px;
}

.form-field .notification-error {
    font-weight: bold;
    color: var(--danger-color);
}

.form-field .notification-error~p {
    margin-top: 0;
}

.form-field p {
    color: var(--secondary-text-color);
}

.form-field.required label:after {
    margin-left: .2em;
    content: "*";
    color: var(--danger-color);
}

.form-field label .optional {
    display: none;
}

.form-field label i~span {
    display: inline-block;
    margin-left: 12px;
}

.form-field.boolean {
    padding-left: 32px;
}

.form-field.boolean input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.form-field.boolean label {
    margin-bottom: 0;
}

.form-field.boolean p {
    margin-top: 0;
    padding: 0;
}

.form-field.boolean .notification-error {
    padding-left: 0;
}

.form-field ul {
    margin: 0;
}

.form-fields-labeling .form-field :not(.boolean) label[for]:not([for="request-attachments"]) {
    position: absolute;
    top: calc(1.5em + var(--border-width));
    left: calc(var(--border-width) + 16px);
    cursor: text;
    font-weight: normal;
    color: var(--secondary-text-color);
    z-index: 2;
}

.form-fields-labeling .form-field :not(.boolean) input,
.form-fields-labeling .form-field :not(.boolean) textarea {
    padding-top: 18px;
    padding-bottom: 12px;
}

.form-fields-labeling .form-field:not(.boolean) input::-webkit-input-placeholder,
.form-fields-labeling .form-field:not(.boolean) textarea::-webkit-input-placeholder {
    color: transparent;
}

.form-fields-labeling .form-field:not(.boolean) input::-moz-placeholder,
.form-fields-labeling .form-field:not(.boolean) textarea::-moz-placeholder {
    color: transparent;
}

.form-fields-labeling .form-field:not(.boolean) input:-ms-input-placeholder,
.form-fields-labeling .form-field:not(.boolean) textarea:-ms-input-placeholder {
    color: transparent;
}

.form-fields-labeling .form-field:not(.boolean) input::placeholder,
.form-fields-labeling .form-field:not(.boolean) textarea::placeholder {
    color: transparent;
}

.form-fields-labeling .form-field :not(.boolean).is-focused,
.form-fields-labeling .form-field :not(.boolean).is-filled {
    label[for]:not([for="request-attachments"]) {
        transform: translateY(-35%);
        font-size: 12px;
    }
}

.form-fields-labeling .form-field :not(.boolean).is-focused a,
.form-fields-labeling .form-field :not(.boolean).is-filled a {
    color: var(--primary-text-color);
}

.form-field--with-icon:not(.boolean) input,
.form-field--with-icon:not(.boolean) textarea {
    padding-left: calc(40px + var(--border-width));
}

.form-field--with-icon:not(.boolean) label[for]:not([for="request-attachments"]) {
    left: calc(40px + var(--border-width));
}

#upload-dropzone {
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 50px;
}

#upload-dropzone span {
    padding: 24px;
    color: var(--secondary-text-color);
    font-size: var(--text-font-size);
    line-height: 1.5em;
}

#upload-dropzone span a {
    font-size: var(--text-font-size);
    line-height: 1.5em;
}

#request-attachments-pool .upload-item {
    padding: 12px 42px 12px 12px;
    margin-top: 16px;
    border-radius: 50px;
    background-color: var(--secondary-bg-color);
    overflow: hidden;
}

#request-attachments-pool .upload-item p {
    margin: 0;
}

#request-attachments-pool .upload-item .upload-remove {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

#request-attachments-pool .upload-item .upload-progress {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-color);
    opacity: .1;
}

#upload-error {
    margin-top: 0;
}

#upload-error span {
    display: block;
    margin-top: 12px;
    font-size: var(--text-font-size-small);
    color: var(--danger-color);
}

.g-recaptcha {
    display: none;
}

.nesty-input:after,
.hc-multiselect-toggle:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 12px;
    height: 12px;
    vertical-align: .2em;
    content: "";
    border-top: 0;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    border-left: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    color: var(--primary-text-color);
}

.nesty-input:active,
.hc-multiselect-toggle:active {
    outline: none !important;
}

.nesty-input[aria-expanded="true"]:after,
.hc-multiselect-toggle[aria-expanded="true"]:after {
    transform: rotate(225deg);
}

.nesty-panel,
.hc-multiselect-menu {
    display: block;
    border-radius: 20px;
    border: none !important;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.04);
    background-color: var(--primary-bg-color);
    transform: translateY(15px);
    max-height: 340px;
    padding: 0;
}

.nesty-panel li,
.hc-multiselect-menu li {
    color: var(--secondary-text-color);
}

.form-fields-labeling .nesty-input {
    padding-top: 18px;
    padding-bottom: 12px;
    background-color: transparent;
    color: transparent;
}

.form-fields-labeling .nesty-input:hover,
.form-fields-labeling .nesty-input:active,
.form-fields-labeling .nesty-input.is-active {
    color: transparent;
}

.nesty-panel {
    margin-top: 68px;
}

.hc-multiselect-menu {
    margin-top: var(--minus-border-width);
}

.hc-multiselect-menu ul li {
    padding: 0;
    margin: 0;
}

.hc-multiselect-menu ul li input {
    display: none;
}

.hc-multiselect-menu ul li label:after {
    display: none;
}

.nesty-panel ul li,
.hc-multiselect-menu ul li label {
    font-family: var(--text-font-family);
    font-weight: 600;
    line-height: 28px;
    min-height: 68px;
    height: auto;
    background-color: var(--primary-bg-color);
    transition: all var(--duration) var(--timing-function);
    border-radius: 0;
    font-size: 16px !important;
    padding: 20px 32px !important;
}

@media (max-width: 767px) {
    .nesty-panel ul li,
    .hc-multiselect-menu ul li label {
        font-size: 16px !important;
        line-height: 24px;
        padding: 15px;
        min-height: 54px;
    }
}

.nesty-panel ul li:hover,
.hc-multiselect-menu ul li label:hover {
    background-color: #F1F1F1;
    color: var(--primary-color);
}

.nesty-panel ul li.nesty-selected,
.hc-multiselect-menu ul li[aria-checked="true"] label {
    background-color: #F1F1F1;
    color: var(--primary-color);
}

.nesty-panel ul li.nesty-selected:after,
.hc-multiselect-menu ul li[aria-checked="true"] label:after {
    display: inline-block;
    margin-left: .7em;
    width: .35em;
    height: .5em;
    vertical-align: .1em;
    content: "";
    border-top: 0;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    border-left: 0;
    transform: rotate(45deg);
}

.hc-multiselect-toggle {
    padding: 5px 15px;
}

.hc-multiselect-toggle ul li {
    padding: 2px 12px;
    margin: 2px 2px 0 0;
    background-color: var(--secondary-bg-color);
}

.form-fields-labeling .hc-multiselect-toggle {
    padding: 22px 12px 2px;
    min-height: calc(1.5em + calc(var(--border-width) * 2));
}

.form-fields-labeling .hc-multiselect-toggle ul li {
    font-size: calc(var(--text-font-size) - 4px);
    line-height: 1.5;
}

body .pika-single.is-bound {
    border-radius: var(--border-radius-base);
    border: none;
    box-shadow: var(--box-shadow);
}

.searchbox {
    margin-bottom: 24px;
}

.searchbox label {
    @extend label[for];
}

.searchbox ul,
.searchbox li {
    display: block;
    margin: 0;
    padding: 0;
}

.searchbox li {
    list-style: none;
}

.searchbox a {
    width: 100%;
    justify-content: flex-start;
    border-radius: var(--border-radius-base);
    margin-top: 4px;
}

#hc-wysiwyg {
    display: block;
    height: 112px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-base);
}

#hc-wysiwyg [role="toolbar"] {
    background-color: transparent;
    padding: 14px 8px;
    border: none;
}

@media (max-width: 575px) {
    #hc-wysiwyg [role="toolbar"] {
        height: auto;
    }
}

#request_description_ifr {
    min-height: 200px;
}

@media (max-width: 575px) {
    .nesty-input {
        overflow: unset;
        white-space: normal;
        text-overflow: unset;
        line-height: 24px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }
}